.match-section {
    margin-top: 20px;
}

.match-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.time-box {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.team-box {
    flex: 2;
    text-align: center;
}

.score-box {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.favorite-box {
    flex: 0.5;
    text-align: center;
}

.favorite-button {
    background: none;
    border: none;
    font-size: 18px;
    color: #ccc;
}

.favorite-button:hover {
    color: green;
}
